.p5Canvas {
    position: absolute;
    top: 8px;
    left: 8px;
    border: 2px solid black;
}
body {
    --max-sidebar-width: 600px;
    font-family: 'Courier New', Courier, monospace;
/*     font-weight: bold; */
    font-size: 14px;
    user-select: none;
    word-wrap: break-word;
    scroll-snap-type: y mandatory;
}
body::-webkit-scrollbar {
    width: 0px;
}

main {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#overlayCanvas {
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
    z-index: 1;
}

#sidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width: var(--max-sidebar-width);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    user-select: none;
}

#gameControls {
    width: 100%;
}

#pixelPicker {
    max-width: calc(var(--max-sidebar-width) - 40px);
    border: 2px solid black;
    padding: 4px;
    margin-top: 8px;
    margin-right: 8px;
    background: gray;
}
.pickerPixel {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 2px;
    border: 2px solid transparent;
    transition: 50ms linear transform;
    cursor: pointer;
}
.pickerPixel:hover {
    border-color: white;
    transform: translateY(-5px);
}
.pickerPixelSelected {
    margin-top: 0px;
    margin-left: -0.5px;
    margin-bottom: 0px;
    margin-right: 0px;
    border: 4px solid gold;
}
.pickerPixelSelected:hover {
    border-color: gold;
}
#pixelDescription {
    max-width: calc(var(--max-sidebar-width) - 40px);
    border: 2px solid black;
    padding: 4px;
    margin-top: 8px;
    margin-right: 8px;
    height: min-content;
}

b {
    /* background-color: beige; */
    border: 1px solid black;
    border-radius: 4px;
}
div {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
button {
    border: 5px outset gray;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}
button:active {
    border-style: inset;
}
table {
    max-width: calc(var(--max-sidebar-width) - 40px);
    border: 2px solid black;
    padding: 4px;
    margin-top: 8px;
    margin-right: 8px;
/*     border-collapse: collapse; */
}
td {
    border: 2px solid black;
    padding: 2px 4px;
    overflow-wrap: break-word;
    max-width: calc(var(--max-sidebar-width) - 48px);
    vertical-align: top;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333333;
        color: white;
    }
    b, td, table {
        border-color: white;
    }
    #pixelPicker {
        border-color: white;
    }
    #pixelDescription {
        border-color: white;
    }
}